@import "reset";

body {
  background-color: #f3f3f3;
  color: #8d8d8d;
  overflow-x: hidden;
}

// header

.header {
  width: 100%;
  height: 700px;
  overflow: hidden;

  color: #fff;
  background:
    url("static/womanXL.png") 425px 20px no-repeat,
    url("static/visualizationXL.png") 600px 90px no-repeat,
    #c7d2da linear-gradient(-55deg, #aabdd1 0%, #c276ff 82%, #c276ff 100%);

  &__content {
    margin-top: 215px;
    margin-left: 103px;
    max-width: 385px;
  }

  &__title {
    font: 300 67px / 1em 'realistnarrow';
  }

  &__par {
    margin: 25px 0;
  }

  &__btn {
    font-size: 19px;
    padding: 18px 45px;
    background-color: #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), 0 4px 0 rgba(0, 0, 0, 0.08);

    cursor: pointer;
    transition: 0.2s all;
    will-change: background;

    &:hover {
      background: rgba(19, 229, 212, 1);
    }
  }
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  position: absolute;
  top: 25px;
  right: 90px;

  & * {
    font-size: 16px;
  }

  &__btn {
    padding: 11px 43px;
    margin-left: 30px;

    color: #fff;
    border: 2px solid #ffffff;
    background: transparent;

    cursor: pointer;
    transition: 0.2s all;
    will-change: background;

    &:hover {
      background: #c374ff;
    }
  }
}

// e/o header

// main section

.main {
  margin: 43px;
  position: relative;
  background-color: #fff;

  &__leftCol {
    max-width: 67%;
    padding: 65px;
  }

  &__rightCol {
    position: absolute;
    top: 0;
    right: 0;
    width: 33%;
    height: 100%;
    background: #634cd9 linear-gradient(-55deg, #5193ff 0%, #5193ff 1%, #7309b4 82%, #7309b4 100%);
  }

  &__imgWrapper {
    margin-top: -112px;
    margin-bottom: -90px;
    margin-left: -68%;
    height: 150%;
    background: url("static/dashboardXL.png") 0 0 no-repeat;
  }
}

.article {
  display: none;

  &--active {
    display: block;
  }

  &__title {
    font: 300 67px / 1em 'realistnarrow';
    color: #332f36;
    margin: 23px 150px 14px 0;
  }

  &__par {
    max-width: 420px;
    margin-bottom: 20px;
  }

  &__btn {
    font-size: 16px;
    padding: 13px 35px;
    border: 2px solid #332f36;
    background-color: #fff;

    cursor: pointer;
    transition: 0.2s all;
    will-change: background;

    &:hover {
      background: rgba(19, 229, 212, 1);
    }
  }
}

.list--articles {
  padding: 65px 0 5px;

  & .listItem {
    display: inline-block;
    width: 130px;
    padding: 10px;

    color: #8d8d8d;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 14px;

    border-bottom: 2px solid #d7d7d7;

    transition: 0.2s all;
    will-change: border-color;

    &:hover {
      border-color: #999;
    }

    &--active {
      border-color: #332f36;
      color: #332f36;
      &:hover {
        border-color: #332f36;
      }
    }

  }
}

// e/o main section


// footer

.footer {
  display: flex;
  justify-content: space-between;

  padding: 150px 110px 60px;
}

.section {

  &__par {
    font-size: 14px;
    color: #adadad;
    padding: 12px 0;
  }

  &__title {
    color: #332f36;
    font-weight: 500;
    text-transform: uppercase;
  }

  &--idea {
    min-width: 495px;
    width: 100%;
    margin: 0 140px;
  }

  &--copyright {
    max-width: 160px;
    width: 100%;
    padding-top: 15px;

    & .img {
      height: 36px;
      margin-bottom: 20px;
    }
  }
}

.section--company {
  max-width: 290px;
  width: 100%;

  & .nav {

    &__list {
      display: flex;
    }

    &__anchor {
      color: #332f36;
      font-size: 14px;
      text-decoration: none;

      transition: 0.2s all;
      will-change: text-decoration;

      &:hover {
        text-decoration: underline;
      }
    }

    &__listItem {
      padding: 11px;

      &:first-child {
        padding-left: 0;
      }
    }

    &__separator {
      background-color: #999;
      width: 1px;
      height: 10px;
      align-self: center;
    }
  }
}

.media {
  display: flex;
  align-items: center;
  margin-top: 25px;

  &__par {
    font-size: 14px;
    color: #adadad;
  }

  &__icons {
    display: flex;
    margin-left: 14px;
  }

  &__iconWrapper {
    height: 56px;
    width: 56px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    margin: 0 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.2s all;
    will-change: border-color;
  }

  & .iconWrapper--fb {
    &:hover {
      border-color: #3B6AC4;
    }
  }

  & .iconWrapper--tw {
    &:hover {
      border-color: #26ACFB;
    }
  }

  &__anchor {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fff;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .icon--fb {
    width: 12px;
  }

  & .icon--tw {
    width: 22px;
  }
}

// e/o footer
